<h3>Hi there :wave:</h3>

Welcome to my profile.   
I'm Kevin, a Computer Science student from the National University of Singapore<img src="https://img.icons8.com/color/96/000000/singapore-circular.png" width="20px"/>.</p>

<h3>How to reach me: </h3>
<a href="https://www.linkedin.com/in/kevin-foong/"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a> 

<h3>Github Stats: </h3> 

[![Kevin's GitHub stats](https://github-readme-stats.vercel.app/api?username=kevin9foong&theme=tokyonight)](https://github.com/anuraghazra/github-readme-stats) <br/>
[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=kevin9foong&layout=compact&theme=tokyonight)](https://github.com/anuraghazra/github-readme-stats)

{{#apodTitle}}
<h3>:rocket:{{apodTitle}}</h3> 
{{/apodTitle}}
{{#apodUrl}}
<img width="450" src="{{apodUrl}}" /><br/>
{{/apodUrl}}
{{#apodDate}}
<b>Date:</b> {{apodDate}}<br/>
{{/apodDate}}
{{#apodDescription}}
<b>Description:</b> {{apodDescription}}<br/>
{{/apodDescription}}

------------
<p align="center">This <i>README</i> file is generated <b>daily</b>!</br>
Last refresh: {{refreshDate}}<br />